/*All*/
.all{
	
	/*#ffffffといったようにRGB指定も可能*/
	background-color: white; /*指定範囲の背景色を変更*/
	color: black; /*指定範囲の文字色を変更*/
	
	
	/*上下左右の個別指定も可能*/
	margin: 100px; /*指定した領域の周りが空白になる(例:城壁の位置を変える)*/
	padding: 100px; /*指定した領域内の要素の周りが空白になる(例:城壁から建物をどのくらい離すか決める)*/

	
	overflow: auto; /*指定領域を超えて描写してしまった場合の設定を変更(autoはブラウザ依存)*/
	position: fixed; /*表示場所を画面の同じ場所に固定する。margin等と併用して、画面右側に常に表示される要素等を作りたい場合に使用(スクロールしてもついてくる)*/
	float: right; /*指定領域の配置を設定。2列以上の表示がしたい場合等で使用する*/
	/* floatの使い方例
	<div style="overflow: hidden;">  列にしたい範囲を囲む(上から1列、2列、1列と表示されているサイトがあるとすれば、2列の部分を囲む)
		<div style="float: left;">  1列目
			<p></p>
		</div>
		<div style="float: left;">  2列目
			<p></p>
		</div>
	</div>
	*/	
}


/*char*/
.char{
	/*大きさの指定にはpx、em(1em=1文字サイズ)、倍率等がある*/
	font-size: 100px; /*フォントサイズを変更*/
	line-height: 100px; /*行間を変更*/
	
	
	border: 1px solid black; /*指定範囲を線で囲む(太さ、色)*/
	
	text-align: center; /*指定範囲の文字を揃える(そろえる場所は指定可能)*/
	text-indent: 2em; /*文字の左側を指定分空ける。HTMLではスペースの入力が特殊なので、この設定を使ってたタブ文字を再現する等*/

}


/*Image*/
.image{
	
	height: 100px; /*画像の固定横幅を設定*/
	width: 100px; /*画像の固定縦幅を設定*/
	max-height: 100px; /*画像の最大縦幅を設定*/
	max-width: 100px; /*画像の最大横幅を設定*/
	
	
}


/*スマホ(小さい画面)での上書き修飾。ここでサイズを指定して、その条件を満たす場合に中カッコ内の設定を上書きする*/
@media screen and (max-width: 479px){

	/*スマホ設定以外の場所(上)で同じクラスが記述されているが、ここに書いた設定のみ上書きできる。*/
	/* ※注意:クラスごと上書きされるのではなく、こちらで設定した要素で被っているものがあれば上書きするだけで、こちらで設定していないものは上と同じ設定になる！　*/
	.image{
		display: none; /*ディスプレイに映る設定を変更(今回は表示しないnone設定)。このnone設定は、PCでは表示するがスマホでは表示したくない場合などによく使われる*/
	}
	
}
