@charset "UTF-8";

*{
}	/*全体に適応*/


body {
	background-color:antiquewhite;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.section_margin{
	margin-top:100px;
}	/*ハッシュタグ*/

.contents_table{
	margin-top:25px;
}

.contents_box{	
	
}
.parallax{
	background-color: aliceblue;
	margin-left:10px;
	margin-right: 50px;
	height: 250px;
	
	padding-left: 10px;
	letter-spacing: 2px;
}
.tab{
	text-indent: 2em;
}

/*
//CSSで設定するタグの解釈----------------------------------------------------
	#margin{}
	<body>
		<div id="margin">文字</div>
	</body>
---------------------------------------------------------------------------
	margin{}
	<body>
		<margin><p>文字</p></margin>  //うまく動作しない
	</body>
---------------------------------------------------------------------------
	p{}  //通常のタグの情報を書き換える
	<body>
		<p>文字</p>
	</body>
---------------------------------------------------------------------------


//外部CSS------------------------------------------------------------------
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
//.css内
	#margin{
		margin-top:100px;
	}
---------------------------------------------------------------------------

//head埋め込み
	<head>
		<style type="text/css">
			margin{margin:200px;}
		</style>
	</head>
---------------------------------------------------------------------------


//内部埋め込み
	<body>
		<p style="margin:50px;">AA</p>
	</body>
---------------------------------------------------------------------------

参考
http://www.kanzaki.com/docs/html/lesson1.html
*/
