@charset "UTF-8";

*{}	/*全体に適応*/


body {
	background-color: antiquewhite; /*背景色を変更*/
	color: black; /*文字の色を変更*/
	font-size: 20px;
	line-height: 1.5;
} /*tagの修飾*/ /*bodyに追加修飾*/

p{
	margin:7px auto; /*上下の間隔を小さく*/
}

header{
	border-bottom: 2px solid black; /*領域の下に線を引く(太さ、色)*/
	text-align: center; /*文字の表示位置を中央に*/
}

img.browser{
	max-width: 880px;
	max-height: 400px;
}

.wrapper{
	background-color:burlywood;
	
	width: 1200px; /*表示領域を指定*/
	margin: 0 auto; /*左右の表示域を標準に設定*/
	padding: 20px;
} /*本文に適応*/

.section_margin{
	margin-top: 150px; /*margin:すべてのコンテンツの間を空ける*/
} /*クラス*/ /*大きい項目ごとに適応*/

.contents_table{
	margin-top: 25px;
} /*目次に適応*/



/*サンプルプログラムの修飾------------------------------------------------------*/
.program_box{	
	background-color: aquamarine;
	margin-left: 10px;
	margin-right: 50px;
	padding-left: 10px; /*文字の左側を空ける*/
	
	overflow: auto;/*表示域を超えるとブラウザの設定に任せて処理(基本的にはスクロール設定)*/

	letter-spacing: 0.5px; /*文字の間隔を空ける*/
} /*サンプルプログラムの背景*/

.program_box p{
	line-height: 0.5;
} /*サンプルプログラムの行間*/

.tab{
	text-indent: 2em;
} /*サンプルプログラム内のタブとして使用*/

/* program_boxの内容(現在は予備としておいてあるだけ)
<div class="program_box">
	<p>&lt;&#33;DOCTYPE html&gt;</p>
		<p>&lt;html&gt;</p>

	<!-- head -->
	<p>&lt;head&gt;</p>
		<p class="tab">&lt;meta charset="UTF-8"&gt;</p>
	<p>&lt;/head&gt;</p>

	<!-- body -->
	<p>&lt;body&gt;</p>
		<p class="tab">&lt;p&gt;この文章をコピペしたら表示されます！&lt;/p&gt;</p>
	<p>&lt;/body&gt;</p>
	<p>&lt;/html&gt;</p>
</div>

*/


/*!サンプルプログラムの修飾------------------------------------------------------*/


footer{
	border-top: 2px solid black;
	text-align: center;
}


/*要素を列表示する-------------------------------------------------------------------------*/
.off_float{
	overflow:hidden;
} /*列表示する文を囲む*/

.off_float .contents_list{
	width: 300px;
	float: left;
} /*目次の列表示に使用*/


.off_float .main{
	width:880px;
	float:left;
}

.off_float .float_list{
	background-color: azure;
	width:278px;
	margin-left: 900px;
	padding-top:10px;
	padding-bottom:10px;
	position:fixed;
	border: 1px solid #585656;
	
} /*画面の右側に固定表示される、サイト案内版に使用*/

/*!要素を列表示する-------------------------------------------------------------------------*/






/*Gist(githubのサービスの1つである、gistの表示修飾を変更する)--------------------------------------------------*/

.gist-data{
	max-height: 450px;
} /*プログラムの最大表示領域を、高さ450pxに設定*/



.gist {
	color: #000;
}

.gist div {
	padding: 0;
	margin: 0;
}

.gist .gist-file {
	border: 1px solid #dedede; /* gray */
	font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
	margin-bottom: 1em;
}

.gist .gist-file .gist-meta {
	overflow: hidden;
	font-size: 75%;
	padding: .5em;
	color: #fff;
	background-color: #555;
} /*[タイトル hosted with  by GitHub]と書かれているところ*/

.gist .gist-file .gist-meta a {
	color: #6CF;
} /*[タイトル]*/

.gist .gist-file .gist-meta a:visited {
	color:hotpink;
} /*[GitHub]*/

.gist .gist-file .gist-data {
	overflow: auto;
	word-wrap: normal;
	background-color: #f8f8ff;
	border-bottom: 1px solid #fff;
	font-size: 100%;
} /*プログラム枠と下枠の間*/

.gist .gist-file .gist-data pre {
	font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
	background: transparent !important;
	margin: 0 !important;
	border: none !important;
	padding: .25em .5em .5em .5em !important;
}

.gist .gist-file .gist-data .gist-highlight {
	background: transparent !important;
}

.gist .gist-file .gist-data .gist-line-numbers {
	background-color: #ececec;
	color: #aaa;
	border-right: 1px solid #ddd;
	text-align: right;
}

.gist .gist-file .gist-data .gist-line-numbers span {
	clear: right;
	display: block;
}

/*!Gist------------------------------------------------*/





/*==========================================================================*/
/*スマホ(小さい画面)での上書き修飾*/
@media screen and (max-width: 479px)
{
	body{
		font-size: 16px;
	}

	.wrapper{
		width: auto;
		padding: 0px 10px;
		margin: none;
	}

	.program_box{	
		margin-left: -2px;
		margin-right: -2px;
		padding-left: 10px; /*文字の左側を空ける*/
		
	} /*サンプルプログラムの背景*/

	.program_box p{
		line-height: 1em;
	}
	
	.tab{
		text-indent: 1em;
	}

	

	/*要素を列表示する-------------------------------------------------------------------------*/

	.off_float .contents_list{
		width: auto;
		float: none;
	} /*目次の列表示に使用*/

	.float_list{
		width:auto;
		float:none;
	} /*画面の右側に固定表示される、サイト案内版に使用*/


	.off_float .main{
		width:auto;
		float:none;
	}

	.off_float .float_list{
		width:auto;
		float:none;
		display: none;
	} /*画面の右側に固定表示される、サイト案内版に使用*/

	
	/*!要素を列表示する-------------------------------------------------------------------------*/
	
	
	
}




/*
//CSSで設定するタグの解釈----------------------------------------------------
	#margin{}
	<body>
		<div id="margin">文字</div>
	</body>
---------------------------------------------------------------------------
	margin{}
	<body>
		<margin><p>文字</p></margin>  //うまく動作しない
	</body>
---------------------------------------------------------------------------
	p{}  //通常のタグの情報を書き換える
	<body>
		<p>文字</p>
	</body>
---------------------------------------------------------------------------


//外部CSS------------------------------------------------------------------
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
//.css内
	#margin{
		margin-top:100px;
	}
---------------------------------------------------------------------------

//head埋め込み
	<head>
		<style type="text/css">
			margin{margin:200px;}
		</style>
	</head>
---------------------------------------------------------------------------


//内部埋め込み
	<body>
		<p style="margin:50px;">AA</p>
	</body>
---------------------------------------------------------------------------

参考
http://www.kanzaki.com/docs/html/lesson1.html
*/
