@charset "UTF-8";

*{}	/*全体に適応*/


body {
	background-color: antiquewhite; /*背景色を変更*/
	color: black; /*文字の色を変更*/
	font-size: 22px;

} /*tagの修飾*/ /*bodyに追加修飾*/

header{
	border-bottom: 2px solid black; /*領域の下に線を引く(太さ、色)*/
	text-align: center; /*文字の表示位置を中央に*/
}

.wrapper{
	width: 1200px; /*表示領域を指定*/
	margin: 0 auto; /*左右の表示域を標準に設定*/
	padding: 0px;
}

.section_margin{
	margin-top: 100px; /*margin:すべてのコンテンツの間を空ける*/
} /*クラス*/ /*大きい項目ごとに適応*/

.contents_table{
	margin-top: 25px;
} /*目次に適応*/



/*サンプルプログラムの修飾------------------------------------------------------*/
.program_box{	
	background-color: aquamarine;
	margin-left: 10px;
	margin-right: 50px;
	padding-left: 10px; /*文字の左側を空ける*/
	
	overflow: auto;/*表示域を超えるとブラウザの設定に任せて処理(基本的にはスクロール設定)*/

	letter-spacing: 0.5px; /*文字の間隔を空ける*/
} /*サンプルプログラムの背景*/

.program_box p{
	line-height: 0.5em;
} /*サンプルプログラムの行間*/

.tab{
	text-indent: 2em;
} /*サンプルプログラム内のタブとして使用*/
/*!サンプルプログラムの修飾------------------------------------------------------*/


footer{
	border-top: 2px solid black;
	text-align: center;
}


/*お試し(要素を列表示する)-------------------------------------------------------------------------*/
.off_float{
	overflow:hidden;
}

.off_float .contents_list{
	width: 300px;
	float: left;
}

/*
.off_float .main{
	width: 900px;
	float:left;
}
.off_float .side{
	width:300px;
	float:left;
}
*/
/*!お試し-------------------------------------------------------------------------*/




/*==========================================================================*/
/*スマホ(小さい画面)での上書き修飾*/
@media screen and (max-width: 479px)
{
	body{
		font-size: 16px;
	}

	.wrapper{
		width: auto;
		padding: 0px 5px;
	}

	.program_box{	
		margin-left: -2px;
		margin-right: -2px;
		padding-left: 10px; /*文字の左側を空ける*/
		
	} /*サンプルプログラムの背景*/

	.program_box p{
		line-height: 1em;
	}
	
	.tab{
		text-indent: 1em;
	}
}

	/*お試し-------------------------------------------------------------------------*/
	.main{
		width:auto;
		border: none;
		float:none;
	}
	.side{
		width:auto;
		float:none;
	}
	/*!お試し-------------------------------------------------------------------------*/




/*
//CSSで設定するタグの解釈----------------------------------------------------
	#margin{}
	<body>
		<div id="margin">文字</div>
	</body>
---------------------------------------------------------------------------
	margin{}
	<body>
		<margin><p>文字</p></margin>  //うまく動作しない
	</body>
---------------------------------------------------------------------------
	p{}  //通常のタグの情報を書き換える
	<body>
		<p>文字</p>
	</body>
---------------------------------------------------------------------------


//外部CSS------------------------------------------------------------------
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
//.css内
	#margin{
		margin-top:100px;
	}
---------------------------------------------------------------------------

//head埋め込み
	<head>
		<style type="text/css">
			margin{margin:200px;}
		</style>
	</head>
---------------------------------------------------------------------------


//内部埋め込み
	<body>
		<p style="margin:50px;">AA</p>
	</body>
---------------------------------------------------------------------------

参考
http://www.kanzaki.com/docs/html/lesson1.html
*/
